<header class="page-container flex_d">

    <div class="logo"></div>

    <nav class="navig flex_d">
      	{{link-to "Materias" "materia"}}
      
      	{{#link-to "user" class="flex_d"}}
        	<img class="avatar" src="/images/avatar.png" />
        	t4t5 <!-- You can change this to your own username -->
      	{{/link-to}}
	 	{{#if SesionIniciada}}
      		<span class="sp-btn" {{action 'logout'}}>{{#link-to "home" class="chirp" action="logout"}} Logout {{/link-to}}</span>
     	{{else}}	
     		<span class="sp-btn" >{{#link-to "home" class="chirp"}}Login{{/link-to}}</span>
     	{{/if}}
    </nav>


</header>

{{outlet}}