<section class="log-container flex_d">
	<div class="login">
		<form class="form_login flex_d" {{action 'login1' on="submit"}}>
			<div class="flex_d">

				<span class="logo_input "><i class="fa fa-sign-in"></i></span>
				{{input type="text" value=username1 required="required" autofocus="autofocus" pattern="^[a-z0-9_-]{3,16}$" placeholder="Username" class="input_login" }}
			</div>
			<div class="flex_d">
				<span class="logo_input"><i class="fa fa-key"></i></span>
				{{input type="password" value=password1 required="required" placeholder="Password" class="input_login"}}
			</div>
			<div class="flex_d">
				{{input type="submit" value="Log in"  }}	
			</div>
			{{#if loginFailed}}
			<div class="fail">Invalid username or password</div>
			{{else}}
				{{#if isEmpty}}
					<div>Empty fields</div>
				{{/if}}
			{{/if}}
		</form>
	</div>

</section>